.application-panel{
    color: var(--color-text-primary);
    padding:20px;

    /*background: radial-gradient(ellipse at center, #222249 0%, #0c0c12 70%);*/
    background-color: var(--color-surface-form);
    
    box-shadow: 0 0 4px 2px rgb(var(--color-confidence-high) / 0.5);
    border-radius: 15px;

    width: 60%;
    height: 75%;
    min-height:fit-content;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;

    display: grid;
    grid-template-rows: 1fr 4fr auto;
    gap: 20px;
}

/*----Application-panel header----*/

.application-panel__identity{
    display:flex;
}

.application-panel__icon--link{
    color: var(--color-text-primary);
    font-size: 22px;
    padding: 10px;
}

.application-panel__title{
    font-weight: 600;
}

.application-panel__company{
    font-weight: 300;
}

.application-panel__badge{
    display:flex;
    margin:10px;
}

.application-panel__status,
.application-panel__confidence{
    padding:2px 5px;
    font-size: 12px;
    border: 1px solid var(--color-surface-tertiary);
}

.application-panel__status{
    border-radius: 7px 0px 0px 7px;
    background-color: var(--color-surface-tertiary);
}

.application-panel__confidence{
    border-radius: 0px 7px 7px 0px;
}

.application-panel__line{
    display: flex;
    align-items: center;
}

.application-panel__line::before,
.application-panel__line::after {
  content: '';
  height: 1px;
  background: var(--color-border-subtle); 
}

.application-panel__line::before{
    width:5%;
}

.application-panel__line::after {
  flex: 1;
}


/*----Application-panel body----*/
.application-panel__body{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 10px;
}

.application-panel__card{
   /* background: radial-gradient(ellipse at center, #69699700 0%, #15151e 70%);*/
    background-color: var(--color-surface-primary);
    border: 1px solid var(--color-border-subtle);
    border-radius:10px;
    padding:10px;
}

.application-panel__main-column {
    display: grid;
    grid-template-rows: 4fr 1fr;
    gap: 10px;
}

.application-panel__side-column{
    display: grid;
    grid-template-rows: 10fr 1fr 10fr;
}

.application-panel__notes{
    display:flex;
    flex-direction:column;
}

.application-panel__title--notes{
    margin: 5px 0px;
}

.application-panel__notes-card{
    background-color: var(--color-surface-secondary);
    border-radius:10px;
    flex:1;
}

.application-panel__date{
    text-align:right;
}





