.application-panel__identity.application-panel__identity--edit{
    grid-template-columns: auto 1fr;
}

.application-panel__icon--link.application-panel__icon--link-edit{
    font-size:12px;
    margin: 0 3px 0 10px;
    padding: 0;
}

.application-panel__score--edit{
    width: 30px;
    padding:2px;
    text-align: center;
    margin: 0 5px;
}

.application-panel__status--edit{
    padding:0;
}

.application-panel__short-description--edit{
    margin-bottom:10px;
}

.job-description--edit{
    display: flex;
    flex-direction: column;
}

.application-panel__job-description--edit{
    flex: 1;
}

.application-panel__input-date--edit{
    margin: 0px 10px;
}

.application-panel__title--edit,
.application-panel__company--edit{
    field-sizing: content;
    min-width: 2ch;
    margin: 3px 0;
}

.application-panel__title--edit{
    font-weight: 600;
    font-size: 24px;
}