:root{
    --color-applied-column: #6c5af7;
    --color-interview-column: #269874;
    --color-declined-column: #ff6a93;
}

.status-column {
    display: flex;
    flex-direction: column;
}


.status-column--Applied .application-card {
    box-shadow: -3px 1px 2px 0px var(--color-applied-column);
}

.status-column--Interview .application-card {
    box-shadow: -3px 1px 2px 0px var(--color-interview-column);
}

.status-column--Declined .application-card {
    box-shadow: -3px 1px 2px 0px var(--color-declined-column);
}



