:root{
    --color-applied-column: #9d32db;
    --color-interview-column: #269874;
    --color-declined-column: #ff3c72e6;
}

.status-column {
    display: flex;
    flex-direction: column;
}

.status-column__title{
    margin: 24px 0px;
}


.status-column--Applied .application-card {
    box-shadow: -3px 1px 2px 0px var(--color-applied-column);
}

.status-column--Interview .application-card {
    box-shadow: -3px 1px 2px 0px var(--color-interview-column);
}

.status-column--Declined .application-card {
    box-shadow: -3px 1px 2px 0px var(--color-declined-column);
}



