.application-form{
    padding: 25px;
    color: var(--color-text-primary);
    /*background: radial-gradient(ellipse at center, #100F17 0%, #100F17 100%); */
    background-color: var(--color-surface-form);

    /*box-shadow: 0 0 4px 1px rgba(227, 227, 227, 0.5);*/
    border-radius:5px;
    border: 1px solid var(--color-border-subtle);
    box-shadow: 0 6px 18px rgba(0,0,0,0.15);

    min-width:fit-content;
    min-height:fit-content;


    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.application-form__item{
    margin: 7px 0px;

    display:flex;
    flex-direction:column;
}

.application-form__input{
    background-color: var(--color-input-bg);
    color: var(--color-input-text);
    border-radius: 5px;
    border: none;
    padding: 5px;
}

/*---------header---------*/

.application-form__header{
    margin:20px 0px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.application-form__title{
    text-align: left;
    font-weight: 600;
    font-size: 24px;
}

.application-form__status{
    border-radius: 5px;
    padding: 2px;
    height: 30px;

    cursor:pointer;
}


/*-----primary section-------*/

.application-form__primary-section{
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 20px;
}

.application-form__link-date-row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.application-form__score-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.application-form__label-confidence-score{
    margin-right: 10px;
}

.application-form__item--score{
    flex-direction: row;
    align-items:center;
}

.application-form__input--score{
    width:20px;
}

/*--PLACEHOLDER (hardcoded confidence score widget)--*/
.application-form__confidence-score{
    width:80px;
    height: 80px;
    border-radius: 50%;
    background: conic-gradient(#2eb88c 72%, #114a38 78%);
    display:flex;
    align-items: center;
    justify-content: center;
    position:relative;
}

.application-form__confidence-score::after{
    content:"";
    position: absolute;
    width: 65px;
    height:65px;
    background: var(--color-surface-form);
    border-radius: 50%;
}

.application-form__score-text{
    position: relative;
    z-index: 1;
    font-size: 24px;
    font-weight:bold;
    color:var(--color-text-primary);
}


/*---------Secondary section----------*/
.application-form__input--description{
    height: 75px;
    resize:none;
}

.application-form__documents-interview{
    display: grid;
    grid-template-columns: 1fr auto;
    gap:40px;
}

.application-form__dropboxes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    gap:10px;
}

.application-form__dropbox{
    width:135px;
    height:60px;
    text-align: center;
    border-radius:7px;
    border: 1px solid var(--color-border-subtle);
    background-color: var(--color-surface-primary);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.application-form__dropbox > * {
    font-size: 14px;
    font-weight: 400;
    color: var(--color-text-muted);
}

.application-form__upload-icon{
    font-size: 22px;
}

.application-form__upload-icon--file-pen{
    margin: 0px 10px;
}

.application-form__interview-section{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin:5px 0px;
}

.application-form__checkbox{
    display:flex;
    flex-direction: row;
    align-items: center;
}

.application-form__checkbox > input{
    margin: 0px 7px;
}

.application-form__interview-section > div{
    margin:0;
}


/*--------footer---------- */
.application-form__footer{
    margin-top: 20px;
    display: flex;
    flex-direction: row-reverse;
}




