#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.blur-overlay{
  position: fixed;
  inset: 0;
  backdrop-filter: blur(5px);
  z-index:100;
}


.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.header__title{
    text-align: left;
    font-size: 2.5em;
}

.header__briefcase{
  margin: 0px 10px;
  color: var(--color-accent);
}

.header__button{
  font-size: 16px;
}

.button__plus-sign{
  margin-right: 5px;
}

.header__menu{
  display:flex;
}

.kanban-board{
    background-color:#3653731c;
    padding:10px 30px;
    border-radius:15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);

    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-gap: 0 2rem;
    min-height: 100vh;
}





