#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Oxygen, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(to bottom, #131126, #252250e2);
}

.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.header__title{
    text-align: left;
    font-size: 2.5em;
}

.header__button{
    border: 1px solid white;
    border-radius: 7px;
    font-weight: 500;

    padding: 7px 20px;
    margin:0px 5px;
}

.kanban-board{
    background-color:#374a5f4a;
    padding:10px 30px;
    border-radius:15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);

    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-gap: 0 2rem;
    height: 550px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
