#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.blur-overlay{
  position: fixed;
  inset: 0;
  backdrop-filter: blur(5px);
  z-index:100;
}


.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.header__title{
    text-align: left;
    font-size: 2.5em;
}

.header__menu{
  display:flex;
}

.header_searchbar{
  width: 250px;
  padding: 0px 5px;
  margin: 0px 15px;
}

.header__button{
    border: 1px solid white;
    border-radius: 7px;
    font-weight: 500;

    padding: 7px 20px;
    margin:0px 5px;
    
    cursor:pointer;
}

.kanban-board{
    background-color:#374a5f3b;
    padding:10px 30px;
    border-radius:15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);

    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-gap: 0 2rem;
    min-height: 100vh;
}





