:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: var(--color-text-primary);

  /*background-image: linear-gradient(to bottom, #131126, #252250e2);*/
  /*background-color: var(--color-main-bg);*/

  background: linear-gradient(
    135deg,
    var(--color-bg-start) 0%, 
    var(--color-bg-middle) 50%,  
    var(--color-bg-end) 100%  
);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
}

h2 {
    font-size:24px;
    font-weight:600;
    text-align:left;
}

h2, p {
  margin: 0;
}

label {
    font-weight: 500;
    font-size: 14px;
}

button, 
select {
  cursor:pointer;
}

button {
  width: 100px;
  height: 40px;
}

.button-primary {
    font-weight: 500;
    font-size: 14px;

    border-radius: 7px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 10px 3px;

    background: #b34830;
    background: linear-gradient(46deg,rgba(179, 72, 48, 1) 50%, rgba(199, 95, 80, 1) 90%, rgba(255, 122, 102, 1) 100%);

    padding: 9px 14px;
    margin:0px 5px;
    
    cursor:pointer;
}

.button-primary:hover{
       background: #803322; 
}

.button-subtle{
    font-weight: 500;
    font-size: 14px;

    border: none;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 10px 3px;

    background-color: #393947a1;

    padding: 9px 14px;
    margin:0px 5px;
}

.button-subtle:hover{
       background: #272730a1; 
}

select {
  background-color: #393947a1;
  border:none;
  border-radius: 5px;
  padding: 2px 5px;
  height: 30px;
}



