:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: var(--color-text-primary);

  /*background-image: linear-gradient(to bottom, #131126, #252250e2);*/
  /*background-color: var(--color-main-bg);*/

  background: linear-gradient(
    135deg,
    var(--color-bg-start) 0%, 
    var(--color-bg-middle) 50%,  
    var(--color-bg-end) 100%  
);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
}

h2 {
    margin: 20px 0px;
    font-size:24px;
    font-weight:600;
    text-align:left;
}

p {
  margin: 0;
}

label {
    font-weight: 500;
    font-size: 14px;
}



